{% extends "base.html" %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Task Types</h2>
    <a href="{% url 'core:task-type-create' %}" class="btn btn-primary">
      <i class="fas fa-plus"></i> New Task Type
    </a>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="table-light">
          <tr>
            <th>Name</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          {% for task_type in task_types %}
            <tr>
              <td>{{ task_type.name }}</td>
              <td>
                <a href="{% url 'core:task-type-update' task_type.pk %}" class="btn btn-sm btn-primary">
                  <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'core:task-type-delete' task_type.pk %}" class="btn btn-sm btn-danger">
                  <i class="fas fa-trash"></i>
                </a>
              </td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="2" class="text-center">No task types found.</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %} 